{{ define "games/show.html" }}
<!DOCTYPE html>
<html>
    <head>
        <title>51</title>
        <script>
            function joinGame(gameId, userName) {
                event.preventDefault();
                fetch("/games/"+gameId+"/join",
                    { method:"POST", body: JSON.stringify({ userName: userName }) })
                    .then((response) => response.json())
                    .then((v) => console.log(v));
            }
        </script>
    </head>
    <body>
        {{if eq .user nil }} 
        <h1>Hello!</h1>
        {{else}}
        <h1>Hello, {{.user.Name}}!</h1>
        {{end}}
        <h2>Game {{ .game.ID }}</h2>
        <h3>Players</h3>
        <ul id="players-list">
            {{ range $player := .game.Players }}
                <li>{{ $player.Name }}</li>
            {{ end }}
        </ul>
        <form method="post" action="/games/{{.game.ID}}/join" onsubmit="joinGame({{.game.ID}}, userName.value); return false">
            <input name="userName" type="text" placeholder="Enter your COOL nickname!">
            <input type="submit" value="Join">
        </form>
    </body>
</html>
{{ end }}
