{{ define "games/show.html" }}
<!DOCTYPE html>
<html>
    <head>
        <title>51</title>
        <style>
            table, tr, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        <script>
            connectToGameUpdates("{{.game.ID}}");
        </script>
        {{if eq .user nil }} 
        <h1>Hello!</h1>
        {{else}}
        <h1>Hello, {{.user.Name}}!</h1>
        {{end}}
        <h2 id="game-heading">Game {{ .game.ID }} ({{.game.Status}})</h2>
        <h3>Players</h3>
        <ul id="actions">
            <li><button onclick="startGame('{{.game.ID}}')">Start</button></li>
        </ul>
        <ul id="players-list">
            {{ range $player := .game.Players }}
                <li>{{ $player.Name }}</li>
            {{ end }}
        </ul>
        <form method="post" action="/games/{{.game.ID}}/join" onsubmit="joinGame('{{.game.ID}}', userName.value); return false">
            <input name="userName" type="text" placeholder="Enter your COOL nickname!">
            <input type="submit" value="Join">
        </form>
        <table id="turns">
            <tr>
                {{ range $player := .game.Players }}
                <th>{{$player.Name}}</th>
                {{ end }}
            </tr>
            {{ range $round := .rounds }}
            <tr>
                {{ range $turn := $round }}
                <td>{{$turn.Result}}</td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
        <form method="post" action="/games/{{.game.ID}}/roll" onsubmit="roll('{{.game.ID}}', dice.value)">
            <select name="dice">
                <option value="4">d4</option>
                <option value="12">d12</option>
                <option value="20" selected>d20</option>
                <option value="100">d100</option>
            </select>
            <input type="submit" value="Roll!">
        </form>
    </body>
</html>
{{ end }}
